.title-slide h1 {
  position: absolute;
  bottom: 22%;
  text-align: left;
  color: #454647;
  font-weight: bold;
}

.title-slide h3 {
  position: relative;
  top: 260px;
  text-align: left;
  color: #454647;
  font-weight: normal;
  margin-top: -30px;
}

.chapter-slide {
  background-color: #1464b4;
  background-image: url();
}
